<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tarena.book.mapper.BookMapper">

    
    <insert id="saveBookUpload">

    insert into book (book_id,book_name,state) values(#{bookId},#{bookName},#{state})

    </insert>


    <insert id="saveBookAndUser">
    insert into user_book_borrower (user_id,book_id) values(#{userId},#{bookId})
    </insert>
</mapper>