<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tarena.book.mapper.BookInfoMapper">


    <resultMap type="Book" id="BookRM" autoMapping="true">
	    <id column="book_id" property="bookId" />
	    <association property="bookInfo" javaType="BookInfo">
	    	<id column="book_info_id" property="bookInfoId" />
	    	<result column="author" property="author"/>
	    	<result column="update_time" property="updateTime"/>
	    	<result column="borrow_date" property="borrowDate"/>
	    	<result column="return_date" property="returnDate"/>
	    	<result column="search_volume" property="searchVolume"/>
	    	<result column="borrow_count" property="borrowCount"/>
	    	<result column="imgurl" property="imgurl"/>
	    	<result column="book_pub" property="bookPub"/>
	    	<result column="category" property="category"/>
	    	<result column="pub_date" property="pubDate"/>
	    	<result column="imgurl" property="imgurl"/>
	    	<result column="category" property="category"/>
	    	<result column="descripe" property="descripe" />
	    </association>
    </resultMap>
    
    <insert id="saveBookUpload" >
    insert into book_info (book_info_id,author,imgurl,pub_date,category,book_pub,descripe,update_time) 
    		values(#{bookInfoId},#{author},#{imgurl},#{pubDate},#{category},#{bookPub},#{descripe},#{updateTime})
    </insert>
    <select id="tocart" resultMap="BookRM">
   		SELECT b.book_name,b.state,u.* FROM 
		(SELECT u.user_id,u.book_id,b.author,b.borrow_date,b.return_date,
		b.book_pub,b.pub_date,b.category,b.imgurl
		FROM
		book_info b
		,
		user_book_borrower u
		WHERE u.user_id=#{userId}
		AND u.book_id=b.book_info_id) u
		LEFT JOIN
		book b
		ON b.book_id=u.book_id
		limit #{i},#{y}
	</select>
	<select id="line" resultType="Integer">
		SELECT COUNT(*) FROM
		book b
		LEFT JOIN
		(SELECT u.book_id,b.author,b.borrow_date,b.return_date,
		b.book_pub,b.pub_date,b.category,b.imgurl
		FROM
		book_info b
		,
		user_book_borrower u
		WHERE u.user_id=#{userId}
		AND u.book_id=b.book_info_id) u
		ON b.book_id=u.book_id
	</select>
	
	<select id="findAll" resultType="BookInfo">
		SELECT * FROM book_info
	</select>
	<!-- 查询新上传的图书 -->
	<select id="findNewBooks" resultMap="BookRM">
		SELECT * FROM book_info,book HAVING book.book_id=book_info.book_info_id  ORDER BY update_time DESC LIMIT 0,4 
	</select>
	
	<!-- 查询单本书籍的详细信息 -->
	<select id="findOneByBookId" resultMap="BookRM">
		SELECT * FROM book b,book_info bi WHERE b.book_id=bi.book_info_id AND b.book_id=#{bookId}
	</select>
	
	<!-- 查询相关书籍 -->
	<select id="findRelateBooks" resultMap="BookRM">
		SELECT * FROM book b,book_info bi WHERE b.book_id=bi.book_info_id  AND bi.category=#{category} and b.book_id!=#{bookId} 
	</select>
	
	<select id="findAllCategory" resultMap="BookRM">
		SELECT * FROM book b,book_info bi WHERE b.book_id=bi.book_info_id
	</select>
	
</mapper>