<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tarena.book.mapper.UserMapper">

	<sql id="findAllUser_sql">
		SELECT * FROM
		user
		LEFT JOIN
		user_info
		ON
		`user`.id = user_info.user_info_id
	</sql>


	<resultMap type="User" id="user_rm" autoMapping="true">
		<id column="id" property="id" />
		<association property="userInfo" javaType="UserInfo">
			<id column="user_info_id" property="userInfoId" />
			<result column="nickname" property="nickname" />
			<result column="email" property="email" />
			<result column="address" property="address" />
			<result column="card_no" property="cardNo" />
			<result column="score" property="score" />
			<result column="telephone" property="telephone" />
			<result column="gender" property="gender" />
		</association>
	</resultMap>

	<select id="findAllUser" resultMap="user_rm">
		<include refid="findAllUser_sql"></include>
	</select>
	
	<select id="findUserById" resultMap="user_rm"  >
		<include refid="findAllUser_sql"></include> WHERE id = #{user_id}
	</select>
	
	<select id="findUserByUsername" resultMap="user_rm"  >
		<include refid="findAllUser_sql"></include> WHERE username = #{username}
	</select>	
	
	<select id="findUserByIdAndPsw" resultMap="user_rm"  >
		<include refid="findAllUser_sql"></include> WHERE id = #{id} and password = #{password}
	</select>	
	
	<update id="updatePsw">
		UPDATE user
		SET password = #{newPassword}
		WHERE
		id = #{userId}
	</update>		


	<!--根据用户名和密码查询该用户是否存在-->
	<select id="findUser" resultType="cn.tarena.book.pojo.User">
		select * from user where username=#{username} and password=#{password}
	</select>
	
	
	<resultMap type="Book" id="bookRM"  autoMapping="true">
		<id column="book_id" property="bookId"/>
		<association property="bookInfo" javaType="BookInfo">
		<id column="book_info_id" property="bookInfoId"/>
		<result column="borrow_date" property="borrowDate"/>
		<result column="return_date" property="returnDate"/>
		<result column="imgurl" property="imgurl"/>
		</association>
	</resultMap>
	
	<!-- 根据Id查找用户自己拥有的书 -->
	<select id="findMyBookListByUserId" resultMap="bookRM">
SELECT b.* FROM
user_book_borrower ubb
LEFT JOIN 
(SELECT b.book_id,b.book_name,b.state,bi.borrow_date,bi.return_date,bi.imgurl FROM 
book b
LEFT JOIN 
book_info bi
ON b.book_id=bi.book_info_id) b ON ubb.book_id=b.book_id WHERE 
ubb.user_id=#{userId}



<!-- 	SELECT b.* FROM
	user_book_borrower ubb
	LEFT JOIN 
	(SELECT b.book_id,b.book_name,b.state,bi.borrow_date,bi.return_date,bi.imgurl FROM 
	book b
	LEFT JOIN 
	book_info bi
	ON b.book_id=bi.book_info_id) b 
	ON ubb.book_id=b.book_id WHERE 
	ubb.user_id=#{userId} -->
	</select> 
	<!-- 根据Id查找用户自己拥有的书 -->
	<select id="findMyBookListByUserIdReturn" resultMap="bookRM">
			SELECT b.* FROM
			user_book_borrower ubb
			LEFT JOIN 
			(SELECT b.book_id,b.book_name,b.state,bi.borrow_date,bi.return_date,bi.imgurl FROM 
			(select * from book where state=0) b
			LEFT JOIN 
			book_info bi
			ON b.book_id=bi.book_info_id) b ON ubb.book_id=b.book_id WHERE 
			ubb.user_id=1



<!-- 	SELECT b.* FROM
	user_book_borrower ubb
	LEFT JOIN 
	(SELECT b.book_id,b.book_name,b.state,bi.borrow_date,bi.return_date,bi.imgurl FROM 
	book b
	LEFT JOIN 
	book_info bi
	ON b.book_id=bi.book_info_id) b 
	ON ubb.book_id=b.book_id WHERE 
	ubb.user_id=#{userId} -->
	</select> 
	
</mapper>