<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tarena.book.mapper.UserMapper">

    <select id="findAllUser" resultType="cn.tarena.book.pojo.User">
        select * from user
    </select>
	<!--根据用户名和密码查询该用户是否存在-->
	<select id="findUser" resultType="cn.tarena.book.pojo.User">
		select * from user where username=#{username} and password=#{password}
	</select>
</mapper>