@CHARSET "UTF-8";

.currentPage {
	font-weight: bold;
	color: #ff9a00;
}
table{
	border-collapse:collapse;
	margin:40px;
	
}
#jumpTo {
	width: 20px;
}

#pageControl a {
	text-decoration: none;
}
.ths{
	font-weight:bold;
	color:F2F4F8
}
#tt{
	font-weight:bold;
	color:red;
	text-align: center;
}
#i2{
	color:0e0d0f;
}
#i3{
	color:aea19d;
}
#i4{
	color:946367;
}
td{
	 text-align:center;
	 
}

