#view{
   color:#E8FFFF;
   border:1px solid red;
}
#new{
	color:#E8FFFF;
	border:1px solid red;
}
#update{
	color:#E8FFFF;
	border:1px solid red;
}
#delete{
	color:#E8FFFF;
	border:1px solid red;
	
}
